.contenedorAcordeon{
    display: flex;
    justify-content: center;
}
.accordion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin-bottom: 60px;
    margin-top: 40px;
}
.accordion-button:not(.collapsed){
    background-color: white !important;
    color: black !important;
}
.contenedorServicios{
    display: flex;
    justify-content: center;
    
}
.servicios{
    text-align: justify;
    display: flex;
    flex-direction: column;
    width: 70%;
}