.productosGeneral{
    display: flex;
    justify-content:center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 43%;
    ul {
        display:flex;
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-size: 18px;
        gap: 5px;
        margin-bottom: 0px;
        padding: 0px;
    }
    a {
        text-decoration: none;
        list-style-type: none;
        color: black;
        font-size: 16px;
    }
}
.btn-primary{
    --bs-btn-bg: #3385ff !important;
    font-family: $tipografia-general !important;
    font-weight: 700 !important;
}
.btn:hover{
   background-color: #3385ff !important;
   border-color: #3385ff !important;
}
.google iframe {
    width: 580px;
    height: 520px;
    border-radius: 20px;
}
