footer {
    color: rgb(0, 0, 0);
    font-family: $tipografia-general;
    background-color: $color-primario;
    ul>li{
        list-style: none;
    }
    ul{
        padding-left: 0px !important;
    }
    .table{
        --bs-table-bg: #232323;
        --bs-table-color: rgb(255, 255, 255);
        border: solid 0.5px rgb(255, 255, 255);
        border-radius: 40px;
    }
}
#cajasContenedor{
    margin-bottom: 20px !important;
}
.row .mt-4{
    max-width: 100% !important;
}
#formControlLg{
    font-size: 1rem;
}
.btn-warning{
    background-color: #73a3eb !important;
    border-color: #ffffff00 !important;
    color: white !important;
}
.btn-warning:hover{
    background-color: #73a3eb !important;
}
.table>:not(caption)>*>* {
    background-color: #73a3eb !important;
}