* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

$color-primario: #232323;
$color-secundario: white;
$tipografia-general: "Montserrat", serif;