@media (max-width: 450px) {
    .contenedor-pages h1 {
        font-size: 20px !important;
        margin-left: 2px !important;
    }

    .contenedor-pages {
        gap: 10px !important;
    }

    .logoWhs img {
        right: 25px !important;
    }
    .formulario {
        width: 360px !important;
        margin-bottom: 50px;
    }
    .crear-cuenta {
        gap: 0px !important;

        a {
            font-size: 16px !important;
            margin-right: 8px !important;
            
        }
    }
    .container{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .iconoDataTech {
        width: 140px;
        height: 48px;
    }

    .fa-ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .google iframe {
        width: 350px !important;
        height: 480px !important;
    }

    .container.h-100 {
        padding-right: 0px !important;
    }
}

@media (max-width: 768px) {
    .searchbar-pages {
        width: 200px;
    }

    .search_input {
        width: 120px;
    }

    .contenedor-pages h1 {
        font-size: 30px;
    }

    .card img {
        width: 230px;
        height: 210px !important;
        margin-left: 24px;

    }

    .logoWhs img {
        right: 25px !important;
    }
    .carousel-control-next, .carousel-control-prev{
        position: relative !important;
    }
    .titulo-componentes {
        margin-top: 46px;
    }
    .container-monitor{
        margin-bottom: 15px !important;
    }
}

@media (max-width: 992px) {
    .contenedorTitulos {
        top: 0px;
    }
    .formulario {
        width: 380px !important;
        margin-bottom: 50px;
    }
    .productosGeneral {
        margin-top: 10px !important;
    }

    .titulo1 {
        justify-content: center;

        h2 {
            font-size: 34px !important;
            margin-top: 30px;
            margin-bottom: 80px;
        }
    }

    .titulo2 {
        justify-content: center;

        h3 {
            display: none;
        }
    }

    header {
        height: auto !important;
    }

    #navbarNav h1 {
        text-align: center;
        font-size: 32px;
    }

    .navbar-nav {
        align-content: flex-start;
        align-items: flex-start;

        li>a {
            font-size: 17px;
            padding-left: 10px;
        }
    }

    .nav-lista-pages {
        gap: 30px;
    }

    .lista-inicio {
        margin-left: 0px;
    }

    .google {
        justify-content: center !important;
        text-align: center !important;

    }

    .google iframe {
        width: 440px;
        height: 600px;
    }

    .contenedorHamburguesa {
        display: flex;
        justify-content: left;
        width: 100%;

        button {
            margin-left: 5px !important;
            margin-bottom: 5px !important;
        }
    }

    .container-fluid {
        flex-direction: row !important;
        justify-content: center !important;
    }

    .carousel-item img {
        height: auto !important;
    }

    main {
        margin-top: 0px !important;
    }
}

@media (max-width: 1140px) {
    .nav-lista a {
        font-size: 18px !important;
    }
    .contenedor-monitores{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 1250px) {
   
    .contenedor-monitores{
        flex-wrap: wrap;
        justify-content: center;
    }
    .seccion{
        h2{
            text-align: center;
        }
    }
}