.inicio-pages {
    display: flex;
    gap: 20px;
    text-align: right;
    justify-content: right;
    margin-right: 30px;
}
.inicio-pages>ul>li>a {
    font-size: 20px;
    font-family: "Montserrat", serif;
    font-weight: 400;
}
#navbarNav-pages {
    justify-content: space-between;
    h1 {
        font-size: 40px;
        color: rgba(0, 0, 0, 0.805);
        margin-left: 40px;
        font-family: "Montserrat", serif;
        font-weight: 800;
    }
}
.nav-lista-pages {
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
        text-decoration: none;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.805);
        font-family: "Montserrat", serif;
        font-weight: 500;
    }
}

.nav-lista-pages a:hover {
    color: #898585;
    border-bottom: 0.1px solid #898585;
    padding-bottom: 1px;
    transition: .10;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
}

.contenedorTitulos-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 240px;
    left: 60px;
}