.configurador {
    display: flex;
}

.menu-componentes {
    width: 300px;
    background-color: #bebebe71;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
    border-radius: 20px;
}

.menu-item {
    display: block;
    padding: 10px;
    margin: 5px 0 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 15px;
}
.menu-item.active {
    background-color: #b1b1b1c9;
}

.seccion-contenido {
    margin-left: 20px;
    flex: 1;
}

.seccion {
    display: none;
}

.producto {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.contenedor-monitores{
    display: flex;
}
.container-monitor{
    display: flex;
    background-color: #bebebe71;;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 380px;
    h2{
        font-size: 20px;
        padding-right: 10px;
        margin-bottom: 20px !important;
        font-family: $tipografia-general;
        text-align: left;
    }
    p{
        font-size: 16px;
        font-family: $tipografia-general;
    }
}
.precios-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        margin: 0px !important;
        padding-right: 5px;
        font-size: 20px;
        font-weight: 300;
    }
}