* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.botonBuscador {
  color: #232323;
  border-color: white !important;
  margin-left: 5px !important;
  border-radius: 16px !important;
}

.botonBuscador:hover {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.header-img {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 86vh;
  width: 100% !important;
}

.contenedorTitulos {
  display: flex;
  justify-content: center;
}

.logoWhs img {
  width: 50px !important;
  position: fixed;
  top: 85% !important;
  right: 60px;
}

.form {
  position: relative;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: rgba(37, 37, 40, 0.349);
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 25px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 180px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search_icon {
  height: 28 px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.fa-search:before {
  color: grey;
}

.inicio-pages {
  display: flex;
  gap: 20px;
  text-align: right;
  justify-content: right;
  margin-right: 30px;
}

.inicio-pages > ul > li > a {
  font-size: 20px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.navbarNav-pages {
  justify-content: space-evenly;
  gap: 25px;
  width: 100%;
}
.navbarNav-pages h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.805) !important;
  margin-left: 40px;
  font-family: "Montserrat", serif;
  font-weight: 800;
}

.nav-lista-pages {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 60px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #232323;
  width: 100%;
}
.nav-lista-pages a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.nav-lista-pages a:hover {
  color: #898585;
  border-bottom: 0.1px solid #898585;
  padding-bottom: 2px;
}

.crear-cuenta {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px !important;
  gap: 20px;
}
.crear-cuenta a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.contenedor-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.contenedor-pages h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.805) !important;
  margin-left: 40px;
  font-family: "Montserrat", serif;
  font-weight: 800;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.contenedorTitulos-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchbar-pages {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.843);
  border-radius: 6px;
  padding: 10px;
  width: 300px;
}

.search_input {
  color: rgba(0, 0, 0, 0.925);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 25px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 180px;
  caret-color: rgb(145, 143, 143);
  transition: width 0.4s linear;
}

.search_icon {
  height: 25px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.432);
  text-decoration: none;
}

.fa-search:before {
  color: rgb(157, 156, 156);
}

.contenedorCard1,
.contenedorCard2 {
  display: flex !important;
  justify-content: center;
  margin-top: 50px;
}
.contenedorCard1 .col-lg-3.col-md-6,
.contenedorCard2 .col-lg-3.col-md-6 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main {
  height: auto;
}
main h4 {
  font-family: "Montserrat", serif;
  text-align: center;
  margin-top: 50px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  height: 240px !important;
  padding: 15px !important;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-item img {
  height: 620px;
}

.carousel-inner {
  animation: slider 1s infinite alternate !important;
  animation-timing-function: ease-out;
}

.carousel-control-next {
  right: -70px !important;
}

.carousel-control-prev {
  left: -70px !important;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
@media (max-width: 992px) {
  .contenedorTitulos {
    top: 0px;
  }
  .titulo1 {
    justify-content: center;
  }
  .titulo1 h2 {
    font-size: 34px !important;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .titulo2 {
    justify-content: center;
  }
  .titulo2 h3 {
    display: none;
  }
  header {
    height: auto !important;
  }
  #navbarNav h1 {
    text-align: center;
    font-size: 32px;
  }
  .navbar-nav {
    align-content: flex-start;
    align-items: flex-start;
  }
  .navbar-nav li > a {
    font-size: 20px;
  }
  .lista-inicio {
    margin-left: 0px;
  }
  .formulario {
    width: 500px !important;
    margin-bottom: 50px;
  }
  .google {
    justify-content: center !important;
    text-align: center !important;
  }
}
@media (max-width: 1140px) {
  .nav-lista a {
    font-size: 18px !important;
  }
}
.productosGeneral {
  display: flex;
  padding-top: 38px;
  padding-left: 190px;
  padding-bottom: 100px;
}
.productosGeneral ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 18px;
  gap: 5px;
  margin-bottom: 0px;
  padding: 0px;
}
.productosGeneral a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 16px;
}

.btn-primary {
  --bs-btn-bg: #232323 !important;
}

footer {
  color: white;
  font-family: "Montserrat", serif;
}
footer ul > li {
  list-style: none;
}
footer ul {
  padding-left: 0px !important;
}
footer .table {
  --bs-table-bg: #232323;
  --bs-table-color: white;
  border: solid 0.5px;
  border-radius: 40px !important;
}

#cajasContenedor {
  margin-bottom: 20px !important;
}

.row .mt-4 {
  max-width: 100% !important;
}

#formControlLg {
  font-size: 1rem;
}

.btn-warning {
  background-color: white !important;
  border-color: #232323 !important;
}/*# sourceMappingURL=style.css.map */