* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.iconoDataTech {
  width: 160px;
  height: 60px;
}

.botonBuscador {
  color: #0c70eb;
  border-color: white !important;
  margin-left: 5px !important;
  border-radius: 16px !important;
}

.botonBuscador:hover {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.header-img {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 86vh;
  width: 100% !important;
}

.contenedorTitulos {
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: none;
}

.logoWhs img {
  width: 50px !important;
  position: fixed;
  top: 85% !important;
  right: 60px;
}

.form {
  position: relative;
}

#carrito svg {
  margin-bottom: 4px;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: rgba(37, 37, 40, 0.349);
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 25px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 180px;
  caret-color: red;
  transition: width 0.4s linear;
}

.search_icon {
  height: 28 px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.fa-search:before {
  color: grey;
}

.navbarNav-pages {
  justify-content: space-evenly;
  gap: 25px;
  width: 100%;
}
.navbarNav-pages h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.805) !important;
  margin-left: 40px;
  font-family: "Montserrat", serif;
  font-weight: 800;
}

.nav-lista-pages {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 80px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0c70eb;
  width: 100%;
}
.nav-lista-pages a {
  text-decoration: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.nav-lista-pages a:hover {
  color: #ffffff;
  border-bottom: 0.1px solid #ffffff;
  padding-bottom: 2px;
}

.crear-cuenta {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px !important;
  gap: 20px;
}
.crear-cuenta a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.contenedor-pages {
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
.contenedor-pages h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.805) !important;
  font-family: "Montserrat", serif;
  font-weight: 800;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0 !important;
}

.contenedorTitulos-pages {
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: center;
  position: relative;
}

.searchbar-pages {
  margin-bottom: auto;
  margin-top: auto;
  height: 45px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  padding: 10px;
  width: 370px;
  border: 1px solid black;
}

.search_input {
  color: rgba(0, 0, 0, 0.925);
  border: 0;
  outline: 0;
  background: none;
  caret-color: transparent;
  line-height: 25px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 180px;
  caret-color: rgb(145, 143, 143);
  transition: width 0.4s linear;
}

.search_icon {
  height: 25px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: center;
  color: rgba(0, 0, 0, 0.432);
  text-decoration: none;
}

.fa-search:before {
  color: rgb(157, 156, 156);
}

.contenedorCard1,
.contenedorCard2 {
  display: flex !important;
  justify-content: center;
  margin-top: 50px;
}
.contenedorCard1 .col-lg-3.col-md-6,
.contenedorCard2 .col-lg-3.col-md-6 {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: none;
}

main {
  height: auto;
  margin-top: 50px !important;
}
main h4 {
  font-family: "Montserrat", serif;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  height: 240px !important;
  padding: 15px !important;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-item {
  transition: all !important;
  transition: 3s ease-in-out !important;
}
.carousel-item img {
  height: 620px;
}

.carousel-control-next {
  right: -70px !important;
}

.carousel-control-prev {
  left: -70px !important;
}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
@media (max-width: 450px) {
  .contenedor-pages h1 {
    font-size: 20px !important;
    margin-left: 2px !important;
  }
  .contenedor-pages {
    gap: 10px !important;
  }
  .logoWhs img {
    right: 25px !important;
  }
  .formulario {
    width: 360px !important;
    margin-bottom: 50px;
  }
  .crear-cuenta {
    gap: 0px !important;
  }
  .crear-cuenta a {
    font-size: 16px !important;
    margin-right: 8px !important;
  }
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .iconoDataTech {
    width: 140px;
    height: 48px;
  }
  .fa-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .google iframe {
    width: 350px !important;
    height: 480px !important;
  }
  .container.h-100 {
    padding-right: 0px !important;
  }
  .menu-componentes {
    width: 240px !important;
  }
  .menu-item img {
    width: 40px !important;
  }
  .container-monitor {
    width: 350px !important;
  }
}
@media (max-width: 768px) {
  .searchbar-pages {
    width: 200px;
  }
  .search_input {
    width: 120px;
  }
  .contenedor-pages h1 {
    font-size: 30px;
  }
  .card img {
    width: 230px;
    height: 210px !important;
    margin-left: 24px;
  }
  .logoWhs img {
    right: 25px !important;
  }
  .carousel-control-next, .carousel-control-prev {
    position: relative !important;
  }
  .titulo-componentes {
    margin-top: 46px;
  }
  .container-monitor {
    margin-bottom: 15px !important;
  }
}
@media (max-width: 992px) {
  .contenedorTitulos {
    top: 0px;
  }
  .formulario {
    width: 380px !important;
    margin-bottom: 50px;
  }
  .productosGeneral {
    margin-top: 10px !important;
  }
  .titulo1 {
    justify-content: center;
  }
  .titulo1 h2 {
    font-size: 34px !important;
    margin-top: 30px;
    margin-bottom: 80px;
  }
  .titulo2 {
    justify-content: center;
  }
  .titulo2 h3 {
    display: none;
  }
  header {
    height: auto !important;
  }
  #navbarNav h1 {
    text-align: center;
    font-size: 32px;
  }
  .navbar-nav {
    align-content: flex-start;
    align-items: flex-start;
  }
  .navbar-nav li > a {
    font-size: 17px;
    padding-left: 10px;
  }
  .nav-lista-pages {
    gap: 30px;
  }
  .lista-inicio {
    margin-left: 0px;
  }
  .google {
    justify-content: center !important;
    text-align: center !important;
  }
  .google iframe {
    width: 440px;
    height: 600px;
  }
  .contenedorHamburguesa {
    display: flex;
    justify-content: left;
    width: 100%;
  }
  .contenedorHamburguesa button {
    margin-left: 5px !important;
    margin-bottom: 5px !important;
  }
  .container-fluid {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .carousel-item img {
    height: auto !important;
  }
  main {
    margin-top: 0px !important;
  }
}
@media (max-width: 1140px) {
  .nav-lista a {
    font-size: 18px !important;
  }
  .contenedor-monitores {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1250px) {
  .contenedor-monitores {
    flex-wrap: wrap;
    justify-content: center;
  }
  .seccion h2 {
    text-align: center;
  }
}
.contenedorAcordeon {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  text-align: none;
  align-items: none;
}

.accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin-bottom: 60px;
  margin-top: 40px;
}

.accordion-button:not(.collapsed) {
  background-color: white !important;
  color: black !important;
}

.contenedorServicios {
  display: flex;
  justify-content: center;
}

.servicios {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.productosGeneral {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 43%;
}
.productosGeneral ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 18px;
  gap: 5px;
  margin-bottom: 0px;
  padding: 0px;
}
.productosGeneral a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 16px;
}

.btn-primary {
  --bs-btn-bg: #3385ff !important;
  font-family: "Montserrat", serif !important;
  font-weight: 700 !important;
}

.btn:hover {
  background-color: #3385ff !important;
  border-color: #3385ff !important;
}

.google iframe {
  width: 580px;
  height: 520px;
  border-radius: 20px;
}

.configurador {
  display: flex;
}

.menu-componentes {
  width: 300px;
  background-color: rgba(190, 190, 190, 0.4431372549);
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  border-radius: 20px;
}

.menu-item {
  display: block;
  padding: 10px;
  margin: 5px 0 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 15px;
}

.menu-item.active {
  background-color: rgba(177, 177, 177, 0.7882352941);
}

.seccion-contenido {
  margin-left: 20px;
  flex: 1;
}

.seccion {
  display: none;
}

.producto {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.contenedor-monitores {
  display: flex;
}

.container-monitor {
  display: flex;
  background-color: rgba(190, 190, 190, 0.4431372549);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 380px;
}
.container-monitor h2 {
  font-size: 20px;
  padding-right: 10px;
  margin-bottom: 20px !important;
  font-family: "Montserrat", serif;
  text-align: left;
}
.container-monitor p {
  font-size: 16px;
  font-family: "Montserrat", serif;
}

.precios-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.precios-carrito p {
  margin: 0px !important;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 300;
}

footer {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", serif;
  background-color: #0c70eb;
}
footer ul > li {
  list-style: none;
}
footer ul {
  padding-left: 0px !important;
}
footer .table {
  --bs-table-bg: #232323;
  --bs-table-color: rgb(255, 255, 255);
  border: solid 0.5px rgb(255, 255, 255);
  border-radius: 40px;
}

#cajasContenedor {
  margin-bottom: 20px !important;
}

.row .mt-4 {
  max-width: 100% !important;
}

#formControlLg {
  font-size: 1rem;
}

.btn-warning {
  background-color: #73a3eb !important;
  border-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
}

.btn-warning:hover {
  background-color: #73a3eb !important;
}

.table > :not(caption) > * > * {
  background-color: #73a3eb !important;
}

.numero {
  text-decoration: none !important;
}/*# sourceMappingURL=style.css.map */